@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body {
  background-color: #dadada;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131921;
  padding: 10px 20px;
  color: #fff;
}

.nav-country {
  display: flex;
  align-items: end;
  margin-left: 15px;
  font-size: 13px;
  color: #c4c4c4;
}
.nav-country h1 {
  color: #fff;
  font-size: 14px;
}
.nav-search {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #808080;
  max-width: 1000px;
  margin-left: 15px;
  border-radius: 4px;
}

.nav-search-gategory {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  background-color: #e5e5e5;
  border-radius: 4px 0 0 4px;
}

.nav-search-input {
  border: none;
  outline: none;
  padding-left: 20px;
  width: 100%;
}

.nav-search-icon {
  max-width: 41px;
  padding: 8px;
  background-color: #ffd64f;
  border-radius: 0 4px 4px 0;
}

.nav-language {
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: 600;
  margin-left: 15px;
}

.nav-text {
  margin-left: 15px;
}

.nav-text p {
  font-size: 10px;
}

.nav-text h1 {
  font-size: 14px;
}

.nav-cart {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.nav-bottom {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px 20px;
  background-color: #232f3e;
  color: #fff;
  font-size: 15px;
}

.nav-bottom div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}

.header-slider ul {
  display: flex;
  overflow-y: hidden;
}
.header-img {
  max-width: 100%;
  mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
}

.header-slider a {
  position: absolute;
  top: 20%;
  z-index: 1;
  padding: 5vh 1vw;
  background-color: #ffffff4f;
  color: #0000007b;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}

.control_next {
  right: 0;
}

.box-row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
  margin: 20px 30px;
}

.box-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 20px;
  background-color: #fff;
  max-width: 24%;
  min-height: 200px;
  z-index: 1;
}

.box-col a {
  font-size: 13px;
  color: #009999;
  font-weight: 500;
}

.header-box {
  margin-top: -20vw;
}

.products-slider {
  background-color: #fff;
  margin: 0 30px;
  padding: 20px;
  margin-bottom: 15px;
}

.products-slider .products {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  margin-top: 10px;
}

.products-slider .products img {
  max-width: 200px;
  max-height: 200px;
}

.products-slider .products::-webkit-scrollbar {
  display: none;
}

.products-slider-with-price {
  background-color: #fff;
  margin: 0 30px;
  padding: 20px;
  margin-bottom: 15px;
}

.products-slider-with-price .products {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  margin-top: 10px;
}
.products-slider-with-price .products::-webkit-scrollbar {
  display: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-width: 210px;
  background-color: #fbfbfb;
}

.product-card img {
  width: 110px;
  margin: 0 50px;
}

.product-offer p {
  background-color: #be0b3b;
  color: #fff;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 2px;
  margin: 8px 0;
  font-size: 13px;
}

.product-offer span {
  color: #be0b3b;
  font-weight: 500;
  font-size: 12px;
}

.product-price {
  color: gray;
  font-size: 13px;
}
.product-card h4 {
  color: #525252;
  font-size: 15px;
  font-weight: 500;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #131921;
  padding: 20px 60px;
}

/* ----------------media query ----------------*/
@media only screen and (max-width: 900px) {
  nav {
    flex-wrap: wrap;
  }
  .nav-search {
    order: 7;
    margin: 15px 0 5px;
    min-width: 300px;
  }

  .box-col {
    max-width: 48%;
  }
}

@media only screen and (max-width: 670px) {
  .nav-country {
    display: none;
  }
  .nav-language {
    display: none;
  }
  .nav-text {
    display: none;
  }
  .nav-search {
    min-width: 100%;
  }
  .nav-bottom {
    font-size: 13px;
    gap: 10px;
    overflow-x: scroll;
  }
  .nav-bottom::-webkit-scrollbar {
    display: none;
  }

  .nav-bottom p {
    text-wrap: nowrap;
  }
  .mobile-user-icon {
    display: flex !important;
    flex: 1;
    justify-content: flex-end;
  }
  .mobile-user-icon img {
    width: 25px;
  }
  .nav-cart h4 {
    display: none;
  }
  .nav-cart img {
    width: 25px;
  }
  .header-slider a {
    top: 24%;
    padding: 2vh 1vw;
    font-size: 15px;
  }
  .box-col {
    max-width: 100%;
    width: 100%;
  }

  footer {
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
  }
}
